In [36]:
import numpy as np
import pandas as pd

In [37]:
data = pd.read_csv('Platinum Futures Historical Data.csv',thousands = ',')

In [38]:
data = data[['Date','Price']]
data = data.astype({'Price':'float64'})
data['Date'] = pd.to_datetime(data['Date'], format='%m/%d/%Y')
data.sort_values(by='Date', inplace=True)
data.reset_index(inplace=True,drop=True)
data.reset_index(inplace=True)
data.drop(columns=['Date'],inplace=True)
data.columns = ['ds','y']
data['unique_id'] = 'platinum'
data

        ds      y unique_id
0        0  937.4  platinum
1        1  949.9  platinum
2        2  956.1  platinum
3        3  966.0  platinum
4        4  974.9  platinum
...    ...    ...       ...
1243  1243  971.0  platinum
1244  1244  979.8  platinum
1245  1245  969.7  platinum
1246  1246  964.6  platinum
1247  1247  966.2  platinum

[1248 rows x 3 columns]

In [39]:
data.to_csv('platinum.csv',index=False)